<!DOCTYPE html>
<html>
  <head>
    <title>TinyUrl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h2><a href="/">MyShortUrl</a></h2>
        <nav>
          <ul>
            <li>
              <a href="/" title="about-me">about me</a>
            </li>
          </ul>
        </nav>
      </header>

      <%= yield %>

      <div id="madeby">
        <span>
          created by <a href="https://www.linkedin.com/in/diegofgomezpardo/" target="_blank">Diego Gomez</a>
        </span>
      </div>
    </div>
  </body>
</html>
